.main-page__content {
  padding: 42px calc(50% - 500px);
  display: flex;
  justify-content: space-between;
}

.main-page__main-section {
  padding-left: 20px;
  box-sizing: border-box;
  width: 60%;
}

.main-page__search-box {
  margin-bottom: 35px;
}

.main-page__favorites {
  width: 35%;
  margin-right: 20px;
}
@media (max-width: 700px) {
  .main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    flex-direction: column;
  }
  .main-page__search-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .main-page__favorites {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  .main-page__main-section {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
}
